@model AppInfoViewModel

@{
	ViewData["Title"] = "Information";
}

<h1>@ViewData["Title"]</h1>

<p>Last request time by current user: @Model.CurrentUserLastRequestTime</p>
<p>Last request time by all users   : @Model.LastRequestTime</p>
<p>Redis requestcouter  : @Model.RedisCounter</p>
